obj/Debug/net9.0/.NETCoreApp,Version=v9.0.AssemblyAttributes.cs
obj/Debug/net9.0/FilmesAPI.AssemblyInfo.cs
obj/Debug/net9.0/FilmesAPI.AssemblyInfoInputs.cache
obj/Debug/net9.0/FilmesAPI.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net9.0/FilmesAPI.GlobalUsings.g.cs
FilmesAPI/bin/Debug/net6.0/appsettings.Development.json
FilmesAPI/bin/Debug/net6.0/appsettings.json
FilmesAPI/bin/Debug/net6.0/FilmesAPI
FilmesAPI/bin/Debug/net6.0/FilmesAPI.deps.json
FilmesAPI/bin/Debug/net6.0/FilmesAPI.dll
FilmesAPI/bin/Debug/net6.0/FilmesAPI.pdb
FilmesAPI/bin/Debug/net6.0/FilmesAPI.runtimeconfig.json
FilmesAPI/bin/Debug/net6.0/FilmesAPI.staticwebassets.endpoints.json
FilmesAPI/bin/Debug/net6.0/Microsoft.OpenApi.dll
FilmesAPI/bin/Debug/net6.0/Swashbuckle.AspNetCore.Swagger.dll
FilmesAPI/bin/Debug/net6.0/Swashbuckle.AspNetCore.SwaggerGen.dll
FilmesAPI/bin/Debug/net6.0/Swashbuckle.AspNetCore.SwaggerUI.dll
FilmesAPI/obj/FilmesAPI.csproj.nuget.dgspec.json
FilmesAPI/obj/FilmesAPI.csproj.nuget.g.props
FilmesAPI/obj/FilmesAPI.csproj.nuget.g.targets
FilmesAPI/obj/project.assets.json
FilmesAPI/obj/project.nuget.cache
FilmesAPI/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
FilmesAPI/obj/Debug/net6.0/apphost
FilmesAPI/obj/Debug/net6.0/FilmesAPI.AssemblyInfo.cs
FilmesAPI/obj/Debug/net6.0/FilmesAPI.AssemblyInfoInputs.cache
FilmesAPI/obj/Debug/net6.0/FilmesAPI.assets.cache
FilmesAPI/obj/Debug/net6.0/FilmesAPI.csproj.AssemblyReference.cache
FilmesAPI/obj/Debug/net6.0/FilmesAPI.csproj.CoreCompileInputs.cache
FilmesAPI/obj/Debug/net6.0/FilmesAPI.csproj.FileListAbsolute.txt
FilmesAPI/obj/Debug/net6.0/FilmesAPI.csproj.Up2Date
FilmesAPI/obj/Debug/net6.0/FilmesAPI.dll
FilmesAPI/obj/Debug/net6.0/FilmesAPI.GeneratedMSBuildEditorConfig.editorconfig
FilmesAPI/obj/Debug/net6.0/FilmesAPI.genruntimeconfig.cache
FilmesAPI/obj/Debug/net6.0/FilmesAPI.GlobalUsings.g.cs
FilmesAPI/obj/Debug/net6.0/FilmesAPI.MvcApplicationPartsAssemblyInfo.cache
FilmesAPI/obj/Debug/net6.0/FilmesAPI.MvcApplicationPartsAssemblyInfo.cs
FilmesAPI/obj/Debug/net6.0/FilmesAPI.pdb
FilmesAPI/obj/Debug/net6.0/rjsmcshtml.dswa.cache.json
FilmesAPI/obj/Debug/net6.0/rjsmrazor.dswa.cache.json
FilmesAPI/obj/Debug/net6.0/rpswa.dswa.cache.json
FilmesAPI/obj/Debug/net6.0/staticwebassets.build.endpoints.json
FilmesAPI/obj/Debug/net6.0/staticwebassets.build.json
FilmesAPI/obj/Debug/net6.0/staticwebassets.build.json.cache
FilmesAPI/obj/Debug/net6.0/ref/FilmesAPI.dll
FilmesAPI/obj/Debug/net6.0/refint/FilmesAPI.dll
FilmesAPI/bin/Debug/net6.0/AutoMapper.dll
FilmesAPI/bin/Debug/net6.0/AutoMapper.Extensions.Microsoft.DependencyInjection.dll
FilmesAPI/bin/Debug/net6.0/Humanizer.dll
FilmesAPI/bin/Debug/net6.0/Microsoft.EntityFrameworkCore.Abstractions.dll
FilmesAPI/bin/Debug/net6.0/Microsoft.EntityFrameworkCore.Design.dll
FilmesAPI/bin/Debug/net6.0/Microsoft.EntityFrameworkCore.dll
FilmesAPI/bin/Debug/net6.0/Microsoft.EntityFrameworkCore.Relational.dll
FilmesAPI/bin/Debug/net6.0/Microsoft.Extensions.Caching.Memory.dll
FilmesAPI/bin/Debug/net6.0/Microsoft.Extensions.DependencyInjection.dll
FilmesAPI/bin/Debug/net6.0/MySqlConnector.dll
FilmesAPI/bin/Debug/net6.0/Pomelo.EntityFrameworkCore.MySql.dll
.gitignore
